<h1>Welcome, {{user.firstName}}</h1>
<p>This is your BikeSafe NYC dashboard.</p>
<ul>
  <li>View your stolen bike reports</li>
  <li>Edit or delete your reports</li>
  <li>View favorite bike parking locations</li>
</ul>