<h1>Login to BikeSafe NYC</h1>

{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}

<form id="loginForm" action="/login" method="POST">
  <label for="identifier">Username or Email</label>
  <input id="identifier" name="identifier" type="text" value="{{formData.identifier}}">

  <label for="password">Password</label>
  <input id="password" name="password" type="password">

  <button type="submit">Login</button>
</form>

<p>Need an account? <a href="/signup">Sign up</a></p>

<script src="/public/js/authValidation.js"></script>